<div id='app' style='min-height: 100vh; display: flex; flex-direction: column;'>
    <header-item></header-item>
    <div id="main" style='flex: 1;'>
      <router-view></router-view>
    </div>
    <footer-item></footer-item>
</div>
